.promoOneContainer {
  background-color: #f3c583;
  display: flex;
  justify-content: space-evenly;
  padding: 4rem;
}

.promoOneContainer h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: 1.25rem 0;
}

.promoOneDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Mobile*/
@media only screen and (max-width: 768px) {
  .promoOneContainer {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
  }

  .promoOneContainer h1 {
    font-size: 1.2rem;
  }
}
